$theme-colors: (
    'primary': #f1f9ff,
    'secondary': #2d86ac,
);

@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/_mixins';
@import 'bootstrap/scss/_reboot';

// // Optional
@import 'bootstrap/scss/_reboot';
@import 'bootstrap/scss/_type';
@import 'bootstrap/scss/_images';
@import 'bootstrap/scss/_code';
@import 'bootstrap/scss/_grid';
@import 'bootstrap/scss/_buttons';
@import 'bootstrap/scss/_button-group';

#root {
    background-color: #f9f8f6;
}

#html {
    font-family: 'Open Sans', sans-serif;
}
